@using todo.Models
@model Todo
@{
    ViewData["Title"] = "Redigera uppgift";
}

<h2>@ViewData["Title"]</h2>
<form method="post" asp-action="Edit">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label for="Title">Titel</label>
    <input type="text" id="Title" name="Title" value="@Model.Title">
    <span asp-validation-for="Title" class="danger"></span>

    <label for="Description">Beskrivning</label>
    <textarea name="Description" id="Description" rows="4">@Model.Description</textarea>
    <span asp-validation-for="Description" class="danger"></span>


    <label for="item_@Model.Id" class="container edit-check">
        <input type="checkbox" name="IsCompleted" id="item_@Model.Id" @(Model.IsCompleted ? "checked" : "")
            value="true"> <!-- Checkbox för avklarad -->
        Avklarad
        <span class="checkmark"></span>
    </label>

    <button type="submit">Spara ändringar</button>
</form>

    @* Visa partial view TodoCount *@
@Html.Partial("_CompletedTodoCount", ViewData["TodoCount"])
