@using todo.Models;

@model List<Todo>

@{
    ViewData["Title"] = "Att göra lista";
}

@if (Model.Count == 0)
{
    <p >@ViewBag.Message</p>
    <p>Just nu finns det inga uppgifter. <a asp-controller="Home" asp-action="Add">Lägg till en ny</a></p>
}
else
{
    @* Visa partial view TodoCount *@
    <div class="count">
    @Html.Partial("_CompletedTodoCount", ViewData["TodoCount"])
    @Html.Partial("_TodoCount", ViewData["TodoCount"])
</div>
    <div class="todo-list">

    @foreach (var todo in Model)
        {
            <div class="todo">
                <label for="item" class="container">
                    <input type="checkbox" name="item" id="item" @(todo.IsCompleted ? "checked" : "")>
                    @todo.Title
                    <span class="checkmark"></span>
                </label>
                <div class="controls">
                    <button>Radera</button>
                    <button>Ändra</button>
                </div>
                <p>@todo.Description</p>
            </div>
        }
    </div>

}
