@using todo.Models;

@model List<Todo>

@{
    ViewData["Title"] = "Att göra lista";
}

@if (Model.Count == 0)
{
    <p>@ViewBag.Message</p>
    <p>Just nu finns det inga uppgifter. <a asp-controller="Home" asp-action="Add">Lägg till en ny</a></p>
}
else
{
    @* Visa partial view TodoCount *@
    <div class="count">
    @Html.Partial("_CompletedTodoCount", ViewData["TodoCount"])
    @Html.Partial("_TodoCount", ViewData["TodoCount"])
</div>
    <div class="todo-list">

    @foreach (var todo in Model)
        {
            <div class="todo">
                <form method="post" asp-action="MarkComplete">
                    <input type="hidden" name="Id" value="@todo.Id" />
                    <label for="item_@todo.Id" class="container @(todo.IsCompleted ? "done" : "")">
                        <input type="checkbox" name="item_@todo.Id" id="item_@todo.Id" @(todo.IsCompleted ? "checked" : "")
                            onclick="this.form.submit()">
                        @todo.Title
                        <span class="checkmark"></span>
                    </label>
                </form>
                <p>@todo.Description</p>
                <div class="controls">
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="Id" value="@todo.Id" />
                        <button type="submit" class="delete">Radera</button>
                    </form>
                    <form method="get" asp-action="Edit" asp-route-id="@todo.Id">

                        <button type="submit" class="edit">Ändra</button>
                    </form>
                </div>
            </div>
        }
    </div>

}
